# DOCUMENTING QUERY

Documenting Complex SQL Query Using Jupyter Notebooks

In [1]:
import pandas as pd
import sqlalchemy as sa
import re
from sqlalchemy.engine.url import URL
import copy

# DB CONNECTION

For the porpose of this video, we'll be using Chinook database. 
Itâ€™s available for various DBMSs including MySQL, SQL Server, SQL Server Compact, PostgreSQL, Oracle, DB2, and of course, SQLite. 
It was created as an alternative to the Northwind database. It represents a digital media store, including tables for artists, albums, media tracks, invoices and customers

The Chinook database is available on GitHub: https://github.com/lerocha/chinook-database/blob/master/ChinookDatabase/DataSources/Chinook_Sqlite_AutoIncrementPKs.sqlite

In [2]:
conn_params = {
    "drivername": "sqlite",
    "database": "Chinook_Sqlite_AutoIncrementPKs.sqlite"
}
url = URL.create(**conn_params)
engine = sa.create_engine(url, echo = False)
print(engine)

Engine(sqlite:///Chinook_Sqlite_AutoIncrementPKs.sqlite)

# BUILD QUERY

In [3]:
query_parts = {}

## CustomerId

Here is where you put some comment, explanations, ... about this field, so couple years later / someone else can make sense of it

In [4]:
field = 'CustomerId'
table = 'Customer'
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': f'SELECT CAST("T1"."{field}" AS INT) AS "{field}"\n',
    'from': f'FROM "{table}" AS "T1"\n',
    'order_by': f'ORDER BY "T1"."{field}" ASC'
}

## FirstName

Here is where you put some comment, explanations, ... about this field, so couple years later / someone else can make sense of it

In [5]:
field = 'FirstName'
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': f'    ,"T1"."{field}" AS "{field}"\n'
}

## LastName

Here is where you put some comment, explanations, ... about this field, so couple years later / someone else can make sense of it

In [6]:
field = 'LastName'
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': f'    ,"T1"."{field}" AS "{field}"\n'
}

## City

Here is where you put some comment, explanations, ... about this field, so couple years later / someone else can make sense of it

In [7]:
field = 'City'
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': f'    ,"T1"."{field}" AS "{field}"\n'
}

## State

Here is where you put some comment, explanations, ... about this field, so couple years later / someone else can make sense of it

In [8]:
field = 'State'
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': f'    ,TRIM("T1"."{field}") AS "{field}"\n'
}

## Country

Here is where you put some comment, explanations, ... about this field, so couple years later / someone else can make sense of it

In [9]:
field = 'Country'
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': f'    ,TRIM("T1"."{field}") AS "{field}"\n'
}

## IsSouthAmerican (S/N)

For exemple, for some reason I need to identify if a customer is southamerican or not, and supose that the way to do it is to chck the Country, I'd need to just call Country with a @ sign ex. @Country, it ould be replace for the real sql in the field Country (TRIM("T1"."Country")), but imagine that for a complex field

In [10]:
field = 'IsSouthAmerican'
select = f"""    ,CASE
        WHEN @Country IN ('Brazil', 'Chile') THEN 'S'
        ELSE 'N'
    END AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select
}

## InvoiceId

Exemple of a Join and calculated column (@CustomerId) in the join condition

In [11]:
field = "InvoiceId"
select = f"""   ,"T2"."{field}" AS "{field}"\n"""
join = """LEFT OUTER JOIN "Invoice" AS "T2" ON "T2"."CustomerId" = @CustomerId\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
    'join': join
}

## InvoiceDate

In [12]:
field = "InvoiceDate"
select = f"""   ,"T2"."{field}" AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## YearInvoice

In [13]:
field = "YearInvoice"
select = f"""   ,CAST(STRFTIME('%Y', @InvoiceDate) AS INT) AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## MonthInvoice

In [14]:
field = "MonthInvoice"
select = f"""   ,CAST(STRFTIME('%m', @InvoiceDate) AS INT) AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## BillingCity

In [15]:
field = "BillingCity"
select = f"""   ,"T2"."{field}" AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## BillingState

In [16]:
field = "BillingState"
select = f"""   ,"T2"."{field}" AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## BillingCountry

In [17]:
field = "BillingCountry"
select = f"""   ,"T2"."{field}" AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## Total

In [18]:
field = "Total"
select = f"""   ,CAST("T2"."{field}" AS FLOAT) AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## InvoiceLineId

In [19]:
field = "InvoiceLineId"
select = f"""   ,"T3"."{field}" AS "{field}"\n"""
join = """LEFT OUTER JOIN (
    SELECT DISTINCT *
    FROM "InvoiceLine"
) AS "T3" ON "T3"."InvoiceId" = @InvoiceId\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
    'join': join
}

## UnitPrice

In [20]:
field = "UnitPrice"
select = f"""   ,CAST("T3"."{field}" AS FLOAT) AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## Quantity

In [21]:
field = "Quantity"
select = f"""   ,CAST("T3"."{field}" AS FLOAT) AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## TotalLine

In [22]:
field = "TotalLine"
select = f"""   ,(@Quantity * @UnitPrice) AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## TotalForCostomer

In [23]:
field = "TotalForCostomer"
select = f"""   ,SUM(@TotalLine)
        OVER(
            PARTITION BY @CustomerId
            ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
        ) AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## TotalForCostomerAndYear

In [24]:
field = "TotalForCostomerAndYear"
select = f"""   ,SUM(@TotalLine)
        OVER(
            PARTITION BY @CustomerId, @YearInvoice
            ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
        ) AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

## TotalForCostomerAndMonth

In [25]:
field = "TotalForCostomerAndMonth"
select = f"""   ,SUM(@TotalLine)
        OVER(
            PARTITION BY @CustomerId, @YearInvoice, @MonthInvoice
            ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
        ) AS "{field}"\n"""
query_parts[field] = {
    'name': field,
    'description': f'very desriptive description for {field}',
    'select': select,
}

# COMPILE QUERY PARTS

In [33]:
def buildQuery(query_parts):
    query_parts_copy = copy.deepcopy(query_parts)
    query = ''
    aux_q = {
        'name': '',
        'description': '',
        'select': '',
        'from': '',
        'join': '',
        'where': '',
        'group_by': '',
        'having': '',
        'window': '',
        'order_by': '',
        'limit': '',
        'offset': ''
    }
    for field in query_parts_copy:
        for clause in query_parts_copy[field]:
            # REPLACE CALCULATED FIELDS (@FIELD_NAME) FOR ITS CONTENT
            patt_find_calc_fields = re.compile(r'@\w+', re.IGNORECASE)
            fields_start_with_at_sign =  re.findall(patt_find_calc_fields, query_parts_copy[field][clause])
            if len(fields_start_with_at_sign) > 0:
                #print(fields_start_with_at_sign)
                for col in fields_start_with_at_sign:
                    column = col.replace('@', '')
                    field_data = query_parts_copy[column]['select']
                    field_data = re.sub(re.compile(r'\n'), '', field_data)
                    field_data = re.sub(re.compile(r'\t'), '', field_data)
                    pattern = re.compile(r'\s+(AS)?\s+[\"]?{fld}[\"]?\w?'.format(fld = column), re.IGNORECASE)
                    field_data = re.sub(pattern, '', field_data)
                    pattern = re.compile(r'^(\W+)?SELECT\s+?', re.IGNORECASE)
                    field_data = re.sub(pattern, '', field_data)
                    field_data = re.sub(re.compile(r'^\W?,'), '', field_data)
                    field_data = re.sub(re.compile(r'^\W+?,'), '', field_data)
                    field_data = re.sub(re.compile(r'\s+?$'), '', field_data)
                    pattern = re.compile(r'@\b{fld}\b'.format(fld = column), re.IGNORECASE)
                    # print(col, '->', field_data)
                    query_parts_copy[field][clause] = re.sub(pattern, field_data, query_parts_copy[field][clause])
            if clause in aux_q:
                aux_q[clause] += query_parts_copy[field][clause]    
    query = f"""{aux_q['select']}{aux_q['from']}{aux_q['join']}{aux_q['where']}{aux_q['group_by']}{aux_q['having']}{aux_q['window']}{aux_q['order_by']}{aux_q['limit']}{aux_q['offset']}"""
    return query.strip()

In [34]:
query = buildQuery(query_parts)

In [35]:
f = open('query.sql', 'w')
f.write(query)
f.close()
print(query.strip())

SELECT CAST("T1"."CustomerId" AS INT) AS "CustomerId"
    ,"T1"."FirstName" AS "FirstName"
    ,"T1"."LastName" AS "LastName"
    ,"T1"."City" AS "City"
    ,TRIM("T1"."State") AS "State"
    ,TRIM("T1"."Country") AS "Country"
    ,CASE
        WHEN TRIM("T1"."Country") IN ('Brazil', 'Chile') THEN 'S'
        ELSE 'N'
    END AS "IsSouthAmerican"
   ,"T2"."InvoiceId" AS "InvoiceId"
   ,"T2"."InvoiceDate" AS "InvoiceDate"
   ,CAST(STRFTIME('%Y', "T2"."InvoiceDate") AS INT) AS "YearInvoice"
   ,CAST(STRFTIME('%m', "T2"."InvoiceDate") AS INT) AS "MonthInvoice"
   ,"T2"."BillingCity" AS "BillingCity"
   ,"T2"."BillingState" AS "BillingState"
   ,"T2"."BillingCountry" AS "BillingCountry"
   ,CAST("T2"."Total" AS FLOAT) AS "Total"
   ,"T3"."InvoiceLineId" AS "InvoiceLineId"
   ,CAST("T3"."UnitPrice" AS FLOAT) AS "UnitPrice"
   ,CAST("T3"."Quantity" AS FLOAT) AS "Quantity"
   ,(CAST("T3"."Quantity" AS FLOAT) * CAST("T3"."UnitPrice" AS FLOAT)) AS "TotalLine"
   ,SUM((CAST("T3"."Quantity" AS FLOAT) * CAST("T3"."UnitPrice" AS FLOAT)))
        OVER(
            PARTITION BY CAST("T1"."CustomerId" AS INT)
            ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
        ) AS "TotalForCostomer"
   ,SUM((CAST("T3"."Quantity" AS FLOAT) * CAST("T3"."UnitPrice" AS FLOAT)))
        OVER(
            PARTITION BY CAST("T1"."CustomerId" AS INT), CAST(STRFTIME('%Y', "T2"."InvoiceDate") AS INT)
            ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
        ) AS "TotalForCostomerAndYear"
   ,SUM((CAST("T3"."Quantity" AS FLOAT) * CAST("T3"."UnitPrice" AS FLOAT)))
        OVER(
            PARTITION BY CAST("T1"."CustomerId" AS INT), CAST(STRFTIME('%Y', "T2"."InvoiceDate") AS INT), CAST(STRFTIME('%m', "T2"."InvoiceDate") AS INT)
            ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
        ) AS "TotalForCostomerAndMonth"
FROM "Customer" AS "T1"
LEFT OUTER JOIN "Invoice" AS "T2" ON "T2"."CustomerId" = CAST("T1"."CustomerId" AS INT)
LEFT OUTER JOIN (
    SELECT DISTINCT *
    FROM "InvoiceLine"
) AS "T3" ON "T3"."InvoiceId" = "T2"."InvoiceId"
ORDER BY "T1"."CustomerId" ASC

# TEST THE QUERY

In [38]:
df = pd.read_sql(sql = query, con = engine)
df.shape

(2240, 22)

In [39]:
df.head()

,CustomerId,FirstName,LastName,City,State,Country,IsSouthAmerican,InvoiceId,InvoiceDate,YearInvoice,...,BillingState,BillingCountry,Total,InvoiceLineId,UnitPrice,Quantity,TotalLine,TotalForCostomer,TotalForCostomerAndYear,TotalForCostomerAndMonth
0,1,LuÃ­s,GonÃ§alves,SÃ£o JosÃ© dos Campos,SP,Brazil,S,98,2010-03-11 00:00:00,2010,...,SP,Brazil,3.98,531,1.99,1.0,1.99,39.62,13.88,3.98
1,1,LuÃ­s,GonÃ§alves,SÃ£o JosÃ© dos Campos,SP,Brazil,S,98,2010-03-11 00:00:00,2010,...,SP,Brazil,3.98,532,1.99,1.0,1.99,39.62,13.88,3.98
2,1,LuÃ­s,GonÃ§alves,SÃ£o JosÃ© dos Campos,SP,Brazil,S,121,2010-06-13 00:00:00,2010,...,SP,Brazil,3.96,649,0.99,1.0,0.99,39.62,13.88,3.96
3,1,LuÃ­s,GonÃ§alves,SÃ£o JosÃ© dos Campos,SP,Brazil,S,121,2010-06-13 00:00:00,2010,...,SP,Brazil,3.96,650,0.99,1.0,0.99,39.62,13.88,3.96
4,1,LuÃ­s,GonÃ§alves,SÃ£o JosÃ© dos Campos,SP,Brazil,S,121,2010-06-13 00:00:00,2010,...,SP,Brazil,3.96,651,0.99,1.0,0.99,39.62,13.88,3.96

The reason why use Pandas is because it allows you to export the resuls to a csv, json or spreadsheet format, to easily turn your query into a sql table / view

In [40]:
df.to_csv('data.csv', index = False) #CSV
df.to_excel('data.xlsx', index = False) #EXCEL
df.to_json('data.json', orient='records') #JSON
df.to_sql('data', con = engine, index = False, if_exists = 'replace') #SQL